<!DOCTYPE html>
<html>
<head>
  <title>WePly Prototype Generator</title>
</head>
<body>
  <h1>Generate Prototype</h1>
  <form action="/generate-prototype" method="post">
    <label for="url">Client Website URL:</label><br>
    <input type="url" id="url" name="url" required><br><br>
    <label for="identifier">Client Identifier:</label><br>
    <input type="text" id="identifier" name="identifier" required><br><br>
    <button type="submit">Generate Prototype</button>
  </form>
</body>
</html>
